# **ETL (Extract, Transform, Load)**

The [IBM HR Analytics Employee Attrition & Performance dataset](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset)  is a fictional dataset created by IBM data scientists to simulate real-world HR data. It contains information about employees’ demographics, job roles, satisfaction levels, performance, and employment history. The dataset has 1,470 rows (employees) and 35 columns, including both categorical and numerical variables, and is used to explore the factors that influence employee attrition and performance. The main feature categories are:

- **Demographics:** Age, Gender, MaritalStatus, Education, EducationField

- **Job Details:** Department, JobRole, JobLevel, JobInvolvement, YearsAtCompany, YearsInCurrentRole, YearsWithCurrManager

- **Compensation:** MonthlyIncome, MonthlyRate, DailyRate, HourlyRate, PercentSalaryHike, StockOptionLevel

- **Satisfaction Metrics:** JobSatisfaction, EnvironmentSatisfaction, RelationshipSatisfaction, WorkLifeBalance

- **Performance & Experience:** PerformanceRating, TotalWorkingYears, NumCompaniesWorked, TrainingTimesLastYear, YearsSinceLastPromotion

- **Other Attributes:** DistanceFromHome, BusinessTravel, OverTime, StandardHours

## Objectives
The objective of this notebook is to perform the ETL (Extract, Transform, Load) process for the [IBM HR Analytics Employee Attrition & Performance dataset](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset). It extracts raw HR data, cleans missing or mismatched values, standardizes categorical encodings, and prepares numerical variables. The transformed dataset is then structured for exploratory data analysis and predictive modeling to uncover key factors influencing employee attrition.

## Inputs
The dataset was obtained from [Kaggle](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset)

## Outputs
The cleaned csv file found [here](../data_set/processed/cleaned_employee_attrition.csv)

# ETL Process

- Load the dataset
- Understand dataset structure and content
- Convert data types if needed
- Clean the dataset
- Drop unused columns 
- Add new features if needed 
- Save the clean dataset as a csv file

---

# Change working directory
Change the working directory from its current folder to its parent folder as the notebooks will be stored in a subfolder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Users\\amron\\Desktop\\employee-turnover-prediction\\jupyter_notebooks'

Make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Users\\amron\\Desktop\\employee-turnover-prediction'

Changing path directory to the dataset

In [4]:
#path directory
raw_data_dir = os.path.join(current_dir, 'data_set/raw') 

#path directory
processed_data_dir = os.path.join(current_dir, 'data_set/processed')

---

# Import packages

In [5]:
import numpy as np #import numpy
import pandas as pd #import pandas
import matplotlib.pyplot as plt #import matplotlib
import seaborn as sns #import seaborn
import plotly.express as px # import plotly
sns.set_style('whitegrid') #set style for visuals

---

# Load the raw dataset

In [6]:
#load the dataset
df = pd.read_csv(os.path.join(raw_data_dir, 'Employee-Attrition.csv'))

The raw dataset is loaded using Pandas for ETL process

---

# Understand the dataset structure and content

In [7]:
#display the first 5 rows of the dataset
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [8]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [9]:
#display the dataset columns names
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

### Insights:
- The dataset contains 1,470 rows (employees) and 35 columns (features).
- There are 26 numerical features and 9  object features.
- The (Attrition) column is the key target variable, indicating whether an employee has left (“Yes”) or stayed (“No”) in the company.
- There are no missing values.
- The dataset contains 35 columns, but we will not use all of them for the current hypotheses. To streamline the analysis and focus only on relevant features, we will retain only the columns directly used in our hypotheses and drop the rest. This ensures a cleaner dataset, reduces noise, and makes subsequent statistical tests and visualizations more meaningful. These columns are:
    - (BusinessTravel, DailyRate, Department, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, HourlyRate, JobInvolvement,
 MaritalStatus, MonthlyRate, Over18, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear,Gender, YearsAtCompany, YearsInCurrentRole)
- Some columns appear to provide no useful variation as they contain the same value for all records or a single constant value.These columns are:
    - (EmployeeCount, StandardHours, Over18, EmployeeNumber)
- The column names are already clean, descriptive, and consistent, meaning no renaming or reformatting is needed.
- All columns in the dataset already have appropriate data types, therefore no data type conversions are necessary.

---

# Clean the data

### 1. Dropping Irrelevant Columns

In [10]:
#dropping irrelevant columns
df = df.drop(columns=['BusinessTravel', 'DailyRate', 'Department', 'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'MaritalStatus', 'MonthlyRate', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'Gender', 'YearsAtCompany', 'YearsInCurrentRole'])

### 2. Dropping Constant Columns

In [11]:
#dropping constant columns
df = df.drop(columns=['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber'])

In [12]:
#display dataset after dropping columns to confirm changes
df.head(5)

,Age,Attrition,DistanceFromHome,JobLevel,JobRole,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,1,2,Sales Executive,4,5993,8,Yes,1,0,5
1,49,No,8,2,Research Scientist,2,5130,1,No,3,1,7
2,37,Yes,2,1,Laboratory Technician,3,2090,6,Yes,3,0,0
3,33,No,3,1,Research Scientist,3,2909,1,Yes,3,3,0
4,27,No,2,1,Laboratory Technician,2,3468,9,No,3,2,2

### 3. Identifying Null Values

In [13]:
#check for null values in the dataset
df.isnull().sum()

Age                        0
Attrition                  0
DistanceFromHome           0
JobLevel                   0
JobRole                    0
JobSatisfaction            0
MonthlyIncome              0
NumCompaniesWorked         0
OverTime                   0
WorkLifeBalance            0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

No null values found

### 4. Identifying Duplicates in the Dataset

In [14]:
#check for duplicates in the dataset
df.duplicated().sum()

0

No duplicates found.

### 5. Add Encoded Columns for Binary Categorical Variables

In [15]:
# add encoded columns for binary categorical variables
df['Attrition_encoded'] = df['Attrition'].map({'Yes': 1, 'No': 0})
df['OverTime_encoded'] = df['OverTime'].map({'Yes': 1, 'No': 0})

In [16]:
# check and confirm changes
df.head(5)

,Age,Attrition,DistanceFromHome,JobLevel,JobRole,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_encoded,OverTime_encoded
0,41,Yes,1,2,Sales Executive,4,5993,8,Yes,1,0,5,1,1
1,49,No,8,2,Research Scientist,2,5130,1,No,3,1,7,0,0
2,37,Yes,2,1,Laboratory Technician,3,2090,6,Yes,3,0,0,1,1
3,33,No,3,1,Research Scientist,3,2909,1,Yes,3,3,0,0,1
4,27,No,2,1,Laboratory Technician,2,3468,9,No,3,2,2,0,0

---

# Store and load cleaned data

In [17]:
#storing the cleaned dataset
df.to_csv(os.path.join(processed_data_dir, 'cleaned_employee_attrition.csv'), index=False)

In [18]:
# Load the cleaned dataset
loaded_df = pd.read_csv(os.path.join(processed_data_dir, 'cleaned_employee_attrition.csv'))
loaded_df.head(5)

,Age,Attrition,DistanceFromHome,JobLevel,JobRole,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,WorkLifeBalance,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_encoded,OverTime_encoded
0,41,Yes,1,2,Sales Executive,4,5993,8,Yes,1,0,5,1,1
1,49,No,8,2,Research Scientist,2,5130,1,No,3,1,7,0,0
2,37,Yes,2,1,Laboratory Technician,3,2090,6,Yes,3,0,0,1,1
3,33,No,3,1,Research Scientist,3,2909,1,Yes,3,3,0,0,1
4,27,No,2,1,Laboratory Technician,2,3468,9,No,3,2,2,0,0

In [19]:
#display cleaned dataset information
loaded_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   Attrition                1470 non-null   object
 2   DistanceFromHome         1470 non-null   int64
 3   JobLevel                 1470 non-null   int64
 4   JobRole                  1470 non-null   object
 5   JobSatisfaction          1470 non-null   int64
 6   MonthlyIncome            1470 non-null   int64
 7   NumCompaniesWorked       1470 non-null   int64
 8   OverTime                 1470 non-null   object
 9   WorkLifeBalance          1470 non-null   int64
 10  YearsSinceLastPromotion  1470 non-null   int64
 11  YearsWithCurrManager     1470 non-null   int64
 12  Attrition_encoded        1470 non-null   int64
 13  OverTime_encoded         1470 non-null   int64
dtypes: int64(11), object(3)
memory usage: 160.9+ KB

---

# Cleaned Dataset Summary & Insights

- The cleaned dataset contains 1,470 employee records and 12 columns.
- This reduction helps focus the analysis on key factors influencing employee attrition, while removing redundant or unused attributes.
- Numerical Columns (9): Age, DistanceFromHome, JobLevel, JobSatisfaction, MonthlyIncome, NumCompaniesWorked, WorkLifeBalance, YearsSinceLastPromotion, YearsWithCurrManager.
- Categorical Columns (3): Attrition, JobRole, OverTime.
- There are no missing values across any column.
- The dataset is clean, concise, and analysis ready.